.button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s linear;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}